@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    font-family: 'Space Mono', monospace;;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3;
}

body {
    background-color: hsl(185, 41%, 84%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    flex-direction: column;
    
 
}

.splitter-area {
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    flex-direction: column;
    
}

input:focus-visible {
    outline: hsl(172, 67%, 45%) solid 3px;
}




